<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>
<title>About</title>

<body>
  <div class="signIn-header">
    <h1>MoviesNOW</h1>
  </div>
  <section class="around">
    <section class="align">
      <section>
        <h2>Meet The Developers</h2>
        <div class="Blandine">
          <h1 id="Blandine">Blandine Dasilveira</h1>
          <a href="/blandine">
            <img src="https://i.imgur.com/Y2xZnCX.jpg" alt="Blandine Dasilveira"></a>
        </div>
        <br>


        <div class="Eugene">
          <h1 id="Eugene">Eugene Monnier</h1>
          <a href="/eugene">
            <img src="https://i.imgur.com/wqJHakd.jpg?1" alt="Eugene Monnier"></a>
          <br>
        </div>
        <br>

        <div class="Cindy">
          <h1 id="Cindy">Cindy Weiss</h1>
          <a href="/cindy">
            <img src="https://i.imgur.com/ykLZvFV.jpg?2" alt="Cindy Weiss" value="cindy"></a>
          <br>


        </div>
      </section>
    </section>
  </section>
  <%- include('../views/footer') %>

</body>

</html>