
<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>
<title>About</title>

<body>
  <div class="signIn-header">
    <h1>MoviesNOW</h1>
  </div>
  <section class="around">
    <section class="align">
      <section>
        <h2>Meet The Developers</h2>
        <div class="img1">
        
          <img src="https://via.placeholder.com/276x185.JPEG?text=First+Movie+Avaliable">
        
          
        </div >
        <div class="img2">
          <img src="https://via.placeholder.com/276x185.JPEG?text=First+Movie+Avaliable">
          
        </div>
        <div class="img3">
          <img src="https://via.placeholder.com/276x185.JPEG?text=First+Movie+Avaliable">
        
        </div>
      </section>
    </section>
  </section>
  <%- include('../views/footer') %>
  
</body>
</html>


