
<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>
<title>About Us</title>

<body class="body">
  <%- include('../views/header') %>
  <section class="around">
    <br>
    <nav class="lign">
      <section>
        <h2>
          Meet The Developers
        </h2>
      </section>

      <Section>
        <div class="img1">
        
          <img src="https://via.placeholder.com/276x185.JPEG?text=First+Movie+Avaliable">
        
          
        </div >
        <div class="img2">
          <img src="https://via.placeholder.com/276x185.JPEG?text=First+Movie+Avaliable">
          
        </div>
        <div class="img3">
          <img src="https://via.placeholder.com/276x185.JPEG?text=First+Movie+Avaliable">
        
        </div>
        <br>
      </Section>
    </nav>
    <br>
  </section>
  <%- include('../views/footer') %>
  
</body>
</html>


