<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>

  <main class="main">

    <!-- <section class="all"> -->
    <div>
      <%- include('../views/header') %>
      <img class="mainPic" src="https://via.placeholder.com/414x635.JPEG?text=First+Movie+Avaliable">
    </div>
    <div class="bottom">
      <div class="textEnter">
        <h3 id="h3">Blandine Dasilveira</h3>
        <P>Transitioning Specialist in the United States Army with 3 years of experience as a Supply Specialist.
          Software Engineer in Full-Stack JavaScript seeking a career with a company where the position will allow me to
          create new software and apps. Long term, I would like to evolve my skill-set so that I can be in a supervisory
          or management role.</P>


      </div>
    </div>
    <!-- </section> -->
  </main>
  <footer>

    <button class="sign" type="button"> Sign In </button>


    <button class="about" type="button"> About </button>

  </footer>
</body>

</html>