<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>

  <main class="main">

    <!-- <section class="all"> -->
    <div>
      <%- include('../views/header') %>
      <img id="cindy" src="https://i.imgur.com/J9smxBa.jpg?2" alt="Cindy Weiss">
    </div>
    <div class="bottom1">
      <div class="textEnter">
        <h1>Cindy Weiss</h1> <br>
        <p> For me, the ideal company would offer a flexible work schedule and challenge me to continue to learn new
          skills while also providing me with a great environment to hone my existing ones. I thrive in open and fun
          environments and enjoy opportunities to learn from my peers.</p>
        <br>
        <p>Coding Languages:</p>
        <ul>
          <li>HTML5/CSS3/SQL</li>
          <li>Javascript</li>
        </ul>

      </div>
    </div>
    </div>
    <!-- </section> -->
  </main>
  <footer>

    <button class="sign" type="button" onclick="window.location.href = '/';"> Main </button>
    <button class="about" type="button" onclick="window.location.href = '/about';"> About </button>

  </footer>
</body>

</html>