<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>

  <main class="main">

    <!-- <section class="all"> -->
    <div>
      <%- include('../views/header') %>
      <img id="cindy" src="https://i.imgur.com/J9smxBa.jpg?2" alt="Cindy Weiss">
    </div>
    <div class="bottom1">
      <div class="textEnter">
        <h3 id="h3">Cindy Weiss</h3> <br>
        <P>I am a wife, a mother, and a woman completely in love with learning.<br>
          For me, the ideal company would offer a flexible work schedule and challenge me to continue to learn new
          skills while also providing me with a great environment to hone my existing ones. I thrive in open and fun
          environments and enjoy opportunities to learn from my peers.</P>
        <br>
        <h1>Coding Languages:</h1>
        <ul>
          <li>HTML5/CSS3/SQL</li>
          <li>Javascript</li>
        </ul>

      </div>
    </div>
    </div>
    <!-- </section> -->
  </main>
  <footer>

    <button class="sign" type="button"> Sign In </button>


    <button class="about" type="button"> About </button>

  </footer>
</body>

</html>