<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>

  <main class="main">

    <!-- <section class="all"> -->
    <div>
      <%- include('../views/header') %>
      <section id="engene1">
        <img id="eugene" src="https://i.imgur.com/bSYFeuI.jpg?1" alt="Eugene Monnier"></section>
    </div>
    <div class="bottom1">
      <div class="textEnter">

        <h1>Eugene Monnier</h1><br>
        <p>Jack of all electronic trades, master of efficiency.</p><br>
        <p>Coding Languages:</p>
        <ul>
          <li>HTML5/CSS3</li>
          <li>Full-Stack Javascript</li>
          <li>Python</li>
        </ul>

      </div>
    </div>
    <!-- </section> -->
  </main>
  <footer>

    <button class="sign" type="button" onclick="window.location.href = '/';"> Main </button>
    <button class="about" type="button" onclick="window.location.href = '/about';"> About </button>

  </footer>
</body>

</html>