<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>

  <main class="main">

    <!-- <section class="all"> -->
    <div>
      <%- include('../views/header') %>
      <section id="engene1">
        <img id="eugene" src="https://i.imgur.com/bSYFeuI.jpg?1" alt="Eugene Monnier"></section>
    </div>
    <div class="bottom1">
      <div class="textEnter">

        <h1>Eugene Monnier</h1><br>
        <h1>Jack of all electronic trades, master of efficiency.</h1><br>
        <h1>Coding Languages:</h1>
        <ul>
          <li>HTML5/CSS3</li>
          <li>Full-Stack Javascript</li>
          <li>Python</li>
        </ul>

      </div>
    </div>
    <!-- </section> -->
  </main>
  <footer>

    <button class="sign" type="button"> Sign In </button>


    <button class="about" type="button"> About </button>

  </footer>
</body>

</html>