<!DOCTYPE html>
<html lang="en">


<%- include('../views/head') %>


<body>
  <main>

    <form>
      <div class="fake-header">
        <label id="location">Location
          <input type="text" name="Location" value="">
        </label>

        <h1>MovieNOW</h1>

        <label id="time">Time
          <input type="text" name="Time" Value="">
        </label>
      </div>

      <section class="movies">

        <% posters.forEach(poster => { %>
          <img class="image" src=" <%= poster.img_url %>">
          <% }) %>

      </section>
    </form>
  </main>

  <footer>
    <button type="button"> Sign In </button>
    <button type="button"> Go Now </button>
    <button type="button"> About Us </button>
  </footer>



</body>

</html>