<!DOCTYPE html>
<html lang="en">


  <%- include('../views/head') %>


  <body>
    <form action="/find" method="POST" id="movieSearch">
      <main class="main">
        
        <!-- <section class="all"> -->
          <div>
            <%- include('../views/header') %>
          <img class="mainPic" src="https://via.placeholder.com/414x635.JPEG?text=First+Movie+Avaliable">
        </div>
        <div class="bottom">
          <div class="textEnter">
            <h3 id="h3">
              AMC Soutcenter 16
            </h3>
            <h4>3600 Southcenter Mall</h4>
            <h5>Takuwila, WA 98188</h5>
            <button id="timeBottom" type="button">Time</button>
          </div>
        </div>
      <!-- </section> -->
    </main>
    <footer>
  
      <button class="sign" type="button"> Sign In </button>
      
      
      <button class="about" type="button"> About </button>
      
    </footer>   
  </body>
</html>
