<!DOCTYPE html>
<html lang="en">

<%- include('../views/head') %>

<body>
  <main>
    <div class="signIn-header">
      <h1>MoviesNOW</h1>
    </div>

    <section class="signIn">
      <label id="enterUserName"> Enter Username </label>
    </section>

    <section id="signinbutton">
      <input type="text" name="UserName" Value="">
      <button id="signin" type="button"> Sign In </button>
    </section>
    <div class="registerButton">
      <button id="register" type="button"> Register </button>
    </div>
  </main>
  <footer>
    <button id="main" type="button"> Main </button>
    <button id="about" type="button"> About Us </button>
  </footer>
</body>

</html>