body {
width: 414px;
}

.fake-header h1  {
  background-color: black;
  text-align: center;
  color: red;
  align-self: center;
}

#time{
  align-self: center;
}

#time input {
  width: 50px;
  border-radius: 25px;
}

#location{
  align-self: center;
}

#location input {
  width: 50px;
  border-radius: 25px;
}


.fake-header {
  display: grid;
  grid-template-columns: auto auto auto;
  align-self: center;
  background-color: black;
  color: red;
  justify-items: center;
  height: 51px;

} 



.movies {
display: grid;
grid-template-columns: 200px 200px;
grid-column-gap: 5px;
grid-row-gap: 5px;
margin: 0 5px;
}

footer {
  display: grid;
  grid-template-columns: 130px 130px 130px;
  background-color: black;
  grid-row-gap: 50px;
  height: 50px;
  }

footer button {
  width:  66px;
  height: 20px;
  background-color: red;
  place-self: center;
  border-radius: 25px;
}

/* About Us page layout CSS */

.one, .two{
  width:  66px;
  height: 20px;
  background-color: red;
  place-self: center;
  border-radius: 25px;
  
}

.two{

  margin-left: 290px;
  
}

header{
  height: 51px;
 justify-items: center;
 background-color: black;
  display: grid;
} 

h1 {
  color: red;
  font-size: xx-large;
  align-self: center;
}

.body{
  width:414px;
  height:896px ;
  margin: 20px 20px 20px 20px;
  
}

h2 {
  height: 32px;
  padding: 20px;
  font-size: x-large;
  color: red;
}

.around{
  background-color: darkkhaki;
}
.lign{
  text-align: center;
  height: 743px;
  margin: 40px 40px 40px ;
  border-radius: 20px;
  background-color: darkgrey;
  margin-top: 20px;

}



.img2, .img3{
  margin-top: 30px;

}

.footer{display: grid;
grid-template-columns: 130px 130px 130px;
background-color: black;
grid-row-gap: 50px;
height: 50px;}

