body {
width: 414px;
}

.fake-header h1  {
  background-color: black;
  text-align: center;
  color: red;
  align-self: center;
}

.signIn-header {
  display: grid;
  align-self: center;
  background-color: black;
  color: red;
  justify-items: center;
  height: 51px;
}

.signIn-header h1 {
  align-self: center;
}

#time{
  align-self: center;
}

#time input {
  width: 50px;
  border-radius: 25px;
}

#location{
  align-self: center;
}

#location input {
  width: 50px;
  border-radius: 25px;
}


.fake-header {
  display: grid;
  grid-template-columns: auto auto auto;
  align-self: center;
  background-color: black;
  color: red;
  justify-items: center;
  height: 51px;
} 



.movies {
display: grid;
grid-template-columns: 200px 200px;
grid-column-gap: 5px;
grid-row-gap: 5px;
margin: 0 5px;
}

footer {
  display: grid;
  grid-template-columns: 130px 130px 130px;
  background-color: black;
  grid-row-gap: 50px;
  height: 50px;
}

footer button {
  width:  66px;
  height: 20px;
  background-color: red;
  place-self: center;
  border-radius: 25px;
}

body{
  margin:auto;
}

main {
  height:795px;
  background-color: gray;
}


#main #about {
  width:  66px;
  height: 20px;
  background-color: red;
  border-radius: 25px
}

#about {
   margin-left: 290px;
}

#signIn {
  background-color: grey;
  
}

.signIn {
  background-color: gray;
  margin-top: 200px;
}

#signinbutton {
  text-align: center;
}

#signinbutton input {
  margin-top: 10px;
}
 

#register {
   background-color: red;
   margin-left: 132px;
   width: 150px;
   height: 32px;
   border-radius: 25px;
}

#enterUserName {
     text-align: center;
     height: 31px;
     margin-left: 150px;
} 

input {
    align-self: center;
    display: block;
    height: 60px;
    width: 354px;
    border-radius: 25px;
    text-align: center;
    margin-left: 25px;
}

#signin {
     background-color: red;
     border-radius: 25px;
     width: 150px;
     height: 32px;
     margin-left: 132px;
     margin: 50px auto;
}

.registerButton {
  background-color: gray;
  width: 414px;
  height: 100px;
  margin-top: 250px
}
   
   