body {
  height:896px ;
  width: 414px;
  background-color: #333;
}

.fake-header h1  {
  background-color: #000;
  text-align: center;
  color: #FF0000;
  align-self: center;
  
}

.signIn-header {
  display: grid;
  align-self: center;
  background-color: #000;
  color: #FF0000;
  justify-items: center;
  height: 51px;
}

.signIn-header h1 {
  align-self: center;
}

#time-label{
  align-self: center;
  height: 26px;
}

#time {
  width: 72px;
  border-radius: 25px;
  height: 26px; 
  font-size: 12px;
}

#location{
  align-self: center;
  height: 26px; 
}

#location input {
  width: 50px;
  border-radius: 25px;
  height: 20px; 
}


.fake-header {
  display: grid;
  grid-template-columns: auto auto auto;
  align-self: center;
  background-color: #000;
  color: #FF0000;
  justify-items: center;
  height: 51px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
} 

.movies {
display: grid;
grid-template-columns: 200px 200px;
grid-column-gap: 5px;
grid-row-gap: 5px;
margin: 57px 5px 53px;
grid-template-rows: 51px, repeat(auto-fill, 300px);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #000;
  grid-row-gap: 50px;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer button {
  width:  66px;
  height: 20px;
  background-color: #FF0000;
  place-self: center;
  border-radius: 25px;
}

[type=submit] {
  width: 95px;
}

/* About Us page layout CSS */

.one, .two{
  width:  66px;
  height: 20px;
  background-color: #FF0000;
  border-radius: 25px;
}

.one {
  margin-left: 20px;
}

.two{
  margin-left: 240px;
}

.lign section h1 {
  text-align: center;
  height: 51px;
  background-color: #000;
  color: #FF0000;
  font-size: xx-large;
}

h2 {
  height: 32px;
  padding: 20px;
  font-size: x-large;
  color: #FF0000;
}

.around{
  background-color: #444;
  display: grid;
  height: 795px;
  place-items: center center;
}
.align{
  text-align: center;
  height: 743px;
  border-radius: 20px;
  width: 374px;
  background-color: #888;

}

.img2, .img3{
  margin-top: 30px;

}

#main #about {
  width:  66px;
  height: 20px;
  background-color: #FF0000;
  border-radius: 25px
}

#about {
   margin-left: 290px;
}


.signIn {
  margin-top: 200px;
}

#signinbutton {
  text-align: center;
}

#signinbutton input {
  margin-top: 10px;
}


#register {
   background-color: #FF0000;
   margin-left: 132px;
   width: 150px;
   height: 32px;
   border-radius: 25px;
}

#enterUserName {
     text-align: center;
     height: 31px;
     margin-left: 150px;
} 

input {
    align-self: center;
    height: 60px;
    width: 354px;
    border-radius: 25px;
    text-align: center;
   
}

#signin {
     background-color: #FF0000;
     border-radius: 25px;
     width: 150px;
     height: 32px;
     margin-left: 132px;
     margin: 50px auto;
}

.registerButton {
  width: 414px;
  height: 100px;
  margin-top: 250px
}
   
.movies img {
  width: 200px;
}

button {
  border: hidden;
}

/* make posters into radio buttons */
input[type=radio] {
  display: none;
}

.signIn-header a {
 text-decoration: none;
 color: inherit; 
 align-self: center;
}

[type=radio]:checked + img {
  opacity: 0.4;
}

[type=radio]:not(:checked) + img {
  opacity: 1;
}

select {
  width: 73px;
  border-radius: 25px;
  height: 26px;
  background-color: #FFF;
  font-size: 12px;
}

/* result  page style */


.bottom{

border-radius: 10px;
margin: 6px 5px 5px 5px;
 background-color: #000;
 width: 404px;
 height: 155px;

}
.mainPic{
  width: 414px;
}

#timeBottom{
  background-color: #FF0000;
  border-radius: 25px;
  width: 88px;
  height: 20px;
  margin-top: 3px;
  margin-left: 1px;
 
}

h3 {
  margin: 0 10px 5px 0;
}

.textEnter{
  color: #FFF;
  margin-left: 14px;
  padding-top: 10px;
  height: 225px;
  width: 392px;
  
}
.sign, .about{
  width:  66px;
  height: 20px;
  background-color: #FF0000;
  border-radius: 25px;
  
}

.about{

  margin-left: 180px;
  margin-right: -80px;
  
}

.bottom1{
  border-radius: 10px;
  margin: 6px 5px 5px 5px;
   background-color: #000;
   width: 404px;
   height:226px;
  }

