.Blandine {
  width: 247px;
  height: 185px;
  overflow: hidden;
  margin-left: 65px;
  }

.Blandine img {
  width: 247px;
  }

#blandine {
  width: 414px;
}
#eugene1 {
  overflow: hidden;
  width: 414px;
  height: 700px;
}
#eugene {
  width: 414px;
  height: 552px;
}

#cindy {
  width: 414px;
  height: 552px;
}